@import url('fonts.scss');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'RR';
}

body {
  background: #222222;
}

.body::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 0;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.titles {
  padding: 60px 0 53px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;

  h1 {
    font-size: 55px;
    position: relative;
    z-index: 0;
    font-weight: 'RBlack';
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-family: 'PBlack';
  }

  span {
    color: #2196F3;
    font-family: 'PBlack';
  }

  p {
    color: rgba($color: #fff, $alpha: 0.8);
    font-size: 15px;
    position: relative;
    letter-spacing: 2px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background: #2196F3;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: -50px;
    }

    &::after {
      right: -50px;
    }
  }
}

.btn-hover {

  &_gray,
  &_blue {
    cursor: pointer;
    box-shadow: none !important;
    border-radius: 3px;
    font-weight: 500;
    height: 46px;
    line-height: 46px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 33px;
    outline: none !important;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    border: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    width: max-content;

    img {
      width: 15px;
      position: relative;
      z-index: 9;
    }

    span {
      position: relative;
      z-index: 9;
    }

    &:hover {
      &::before {
        transform: skew(-20deg) translateX(-10px);
      }
    }
  }

  &_gray {
    background: #2196F3;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 100%;
      background: linear-gradient(90deg, rgba(25, 88, 165, 1) 10%, rgba(191, 73, 141, 1) 55%, rgba(255, 153, 106, 1) 96%);
      transform: skew(-20deg) translateX(-110%);
      transition: 0.3s;
    }
  }

  &_blue {
    border: 1px solid #2196F3;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 100%;
      background: linear-gradient(90deg, rgba(25, 88, 165, 1) 10%, rgba(191, 73, 141, 1) 55%, rgba(255, 153, 106, 1) 96%);
      transform: skew(-20deg) translateX(-110%);
      transition: 0.3s;
    }

    &:hover {
      border: 1px solid transparent;
    }
  }
}

.router-link-active {
  span {
    color: #2196F3 !important;
  }

  svg {
    path {
      fill: #2196F3 !important;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15px;
  left: 15px;
  overflow: hidden;
  width: 300px;
  z-index: 999;

  &__btn {
    font-size: 30px;
    background: #333333;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
    cursor: pointer;

    span {
      width: 22px;
      height: 2px;
      background: #fff;
      position: relative;
      transition: 0.2s;

      &::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background: #fff;
        top: -7px;
        transition: 0.2s;
      }

      &::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background: #fff;
        top: 7px;
        transition: 0.2s;
      }
    }

    &.active {
      span {
        background: transparent;

        &::before {
          transform: rotate(-45deg);
          top: 0;
        }

        &::after {
          transform: rotate(45deg);
          top: 0;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    background: #333333;
    padding: 30px 0 15px 0;
    position: relative;
    margin-top: -30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.2s ease;
    transform: scaleY(0);
    transform-origin: top;

    li:nth-child(1) {
      span {
        transition: transform 0.2s ease;
        transition-delay: 0.1s;
      }

      svg {
        transform: scale(0);
        transition-delay: 0.1s;
        transition: transform 0.2s ease;
      }
    }

    li:nth-child(2) {
      span {
        transition: transform 0.2s ease;
        transition-delay: 0.2s;
      }

      svg {
        transform: scale(0);
        transition-delay: 0.2s;
        transition: transform 0.2s ease;
      }
    }

    li:nth-child(3) {
      span {
        transition: transform 0.2s ease;
        transition-delay: 0.2s;
      }

      svg {
        transform: scale(0);
        transition-delay: 0.2s;
        transition: transform 0.2s ease;
      }
    }

    li:nth-child(4) {
      span {
        transition: transform 0.2s ease;
        transition-delay: 0.3s;
      }

      svg {
        transform: scale(0);
        transition-delay: 0.3s;
        transition: transform 0.2s ease;
      }
    }


    &.active {
      .nav__link {
        svg {
          transform: scale(1);
        }

        span {
          transform: translateX(0px);
          opacity: 1;
        }
      }

      transform: scale(1);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    text-transform: uppercase;

    &:hover {
      svg {
        path {
          fill: #2196F3;
        }
      }

      span {
        color: #2196F3;
      }

    }

    svg {
      width: 20px;

      path {
        fill: #A1A1A1;
      }
    }

    span {
      position: absolute;
      right: -100px;
      width: 80px;
      color: #fff;
      font-size: 15px;
      font-weight: 400px;
      transform: translateX(-30px);
      opacity: 0;

    }
  }
}


.home,
.portfolio,
.about,
.contact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.75) url('../images/bg.png');
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// HOME START
.home {

  background: rgba(0, 0, 0, 0.75) url('../images/1.png');
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;



  &__img {
    max-width: 320px;
    max-height: 320px;
    overflow: hidden;

    border-radius: 50%;
    border: 10px solid rgba($color: #fff, $alpha: 0.1);

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    &>span {
      color: #fff;
      font-weight: 400;
      font-size: 19px;
      font-family: 'Open Sans', sans-serif;
    }

    h2 {
      font-size: 42px;
      line-height: 42px;
      font-weight: 700;
      margin: 19px 0 10px;
      color: #fff;
      white-space: nowrap;
      position: relative;

      span {
        font-family: 'RBlack';
        color: #2196F3;
      }

      text-transform: uppercase;
    }

    p {
      max-width: 550px;
      color: #fff;
      margin: 11px 0 23px;
      font-size: 16px;
      line-height: 32px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
    }
  }

  &__links {
    display: flex;
    gap: 30px;
    margin-top: 20px;
  }
}

// HOME END


// About START

.about {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 80px;

    &__img {
      position: relative;
      z-index: 9;
      
      div {
        img {
          position: relative;
          z-index: 9;
          max-width: 500px;
          max-height: 500px;
          width: 100%;
        }

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: transparent;
          border: 5px solid #2196F3;
          top: 20px;
          left: 20px;
          z-index: 1;
        }
      }
    }

    &__bio {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      p {
        font-weight: 400;
        font-size: 16px;
        padding-right: 20px;
        color: rgba(255, 255, 255, .8);
        margin-bottom: 26px;
        white-space: nowrap;
      }

      span {
        color: #fff;
        margin-left: 10px;
      }
    }
  }
}

// About END


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  &__item {
    background: rgba(0, 0, 0, 0.7) url('../images/portfolio.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    h2 {
      text-transform: uppercase;
      color: #fff;
      font-size: 26px;
    }
  }
}

.contact {
  &__content {
    display: flex;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__feedback {
    display: flex;
    flex-direction: column;
    gap: 10px;

    span {
      color: #fff;
      opacity: .8;
    }

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #fff;
      letter-spacing: 1px;

      img {
        width: 15px;
      }
    }
  }

  &__socials {
    display: flex;
    gap: 15px;

    a {
      border: 1px solid #2196F3;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__form {
    flex: 2;
    display: grid;
    grid-template-areas:
      "par par par par"
      "inp1 inp1 inp2 inp2"
      "text text text text"
      "btn . . .";
    gap: 20px;

    p {
      grid-area: par;
      color: #fff;
      font-size: 16px;
      line-height: 32px;
    }

    label {
      position: relative;
      min-width: 250px;

      &:first-of-type {
        grid-area: inp1;

        img {
          width: 20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;

        }
      }

      &:nth-of-type(2) {
        grid-area: inp2;

        img {
          width: 20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;

        }
      }

      &:last-of-type {
        grid-area: text;

        img {
          width: 20px;
          position: absolute;
          top: 20px;
          left: 15px;

        }
      }



      input {
        width: 100%;
        height: 46px;
        outline: none;
        border: 1px solid #444;
        color: #fff;
        background: #333;
        border-radius: 20px;
        padding-left: 49px;
        font-size: 14px;
      }

      textarea {
        width: 100%;
        padding: 15px 15px 15px 49px;
        outline: none;
        border: 1px solid #444;
        border-radius: 20px;
        color: #fff;
        background: #333;
        resize: none;
        font-size: 14px;
      }
    }



  }

  button {
    grid-area: btn;
  }
}

.skills {
  padding: 50px 0;

  h3 {
    color: #fff;
    font-size: 23px;
  }

  &__block {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    row-gap: 80px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
      div {
        background: #A53E6D;
      }

      span {
        border: 1px solid #A53E6D;
        color: #A53E6D;

        &::before {
          border-right: 1px solid #A53E6D;
          border-bottom: 1px solid #A53E6D;
        }

      }
    }

    p {
      color: #fff;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    div {
      width: 100%;
      height: 1px;
      background: #2196F3;
      position: relative;
      transition: 0.3s;

      span {
        position: absolute;
        top: -40px;
        border: 1px solid #2196F3;
        color: #2196F3;
        padding: 5px;
        border-radius: 7px;
        font-size: 14px;
        transition: 0.3s;

        &::before {
          position: absolute;
          content: '';
          width: 8px;
          height: 8px;
          border-right: 1px solid #2196F3;
          border-bottom: 1px solid #2196F3;
          transform: rotate(45deg) translateX(-50%);
          bottom: -8px;
          background: #222222;
          left: 50%;
        }
      }
    }
  }
}